.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#pdf-contents {
  /*overflow-y:scroll;*/
  width:800px;
  margin:0 auto;
}

.pdf-canvas {
  border: 5px solid rgba(0,0,0,0.2);
  box-sizing: border-box;
  width: 100%;
}